<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark" />
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='pico.min.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>
        {% block title %}{% endblock %}
    </title>
</head>

<body>
    <nav class="header">
        <ul>
            <li>Remote Home</li>
        </ul>
        <ul>
            <li>{{ title }}</li>
        </ul>
    </nav>

    <main class="page">
        <aside class="sideBar">
            <nav>
                <ul>
                    <li><a class="logo" href="/">Home Automation</a></li>
                 
                    <li><a class="" href="/devices/list">Devices</a></li>
                   
                    <li><a class="" href="/schedules/list">Schedule</a></li>
                </ul>
            </nav>

        </aside>
        <section class="content">
            <header>
                <h6>{{ title }}</h6>

            </header>

            <main class="container-fluid">
                <section>
                    {% block content %}{% endblock %}
                </section>
            </main>
            <footer>
                <p>&copy; {{ current_year }} - </p>
            </footer>
        </section>
    </main>



</body>

</html>